<h1>Active Record Associations</h1>

<p><%=link_to "Has_one Associations" ,acounts_path%> </p>
<p><%=link_to "Has_many Associations" ,authers_path%></p>
<p><%=link_to "Has_many_through Associations" ,appointments_path%></p>